#body{
  background-color: lightblue;
  position: relative;
}
#title{
  color : white;
  font-family: sans-serif;
  text-align : center;
}
#pixelPainter{
  min-width: 900px;
  text-align: center;
  position: relative;
}
.grid{
  margin : 0;
}
.colors{
  margin :5px;
  position: relative;
  top : -545px;
  left : 210px;
}
.tools{
  position :relative;
  top : -492px;
  left : 163px;
}